<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cnblogs.keyindex"
    android:versionCode="9"
    android:versionName="alpha 1.1" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity android:name=".StartActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CnblogsActivity" >
            <intent-filter>
                <action android:name="com.cnblogs.keyindex.CnblogsActivity.view" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="com.cnblogs.keyindex.UserAcitivity.sigin" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name=".IngListActivity" android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.cnblogs.keyindex.FlashMessageActivity.view" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name=".IngSenderActivity" >
            <intent-filter>
                <action android:name="com.cnblogs.keyindex.FlashMessageActivity.Sender" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
          <activity android:name=".IngDetailsActivity" >
            <intent-filter>
                <action android:name="com.cnblogs.keyindex.FlashMessageActivity.Details" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
    </application>

</manifest>